ul {
    padding-left: 10px;
}

ul li {
    list-style-type: none;
}

.custom_dropdown {
    background-color: white;
    border: 1px solid #d1d1d1;
    position: relative;
}

.custom_dropdown_block {
    /**/
    margin: 0 auto;
    width: 100%;
    /*border: 1px solid #d1d1d1;*/
    padding: 10px;
    overflow-y: auto;
    max-height: 100px;
}
.result_box_area {
    width: 96%;
    display: inline-block;
    line-height: 0;
    margin-bottom: -5px;
}
div#search_box_area {
    width: 96%;
    display: none;
}
input#search_box {
    width: 100%;
    border:none;
}
#search_box_area > input {
    border: medium hidden !important;
}
input#search_box:focus {
    outline: none;
}

.result_mark {
    width: 100%;
    border-radius: 4px;
    height: 36px;
    position:relative;
}
span#mark{
    padding-left: 95%;
    position:absolute;
    top: 30%;
}
.result_box_content {
    background-color: #1d88e5;
    border-radius: 3px;
    display: inline-block;
    font-size: 24px;
    height: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.dropdown_box {
    background-color: white;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
}

#result_submit {
    margin-left:800px;
    margin-top: 20px;
}

.remove_category{
    cursor: pointer;
}